body,
html
    height 100%
    position relative
.overlay
    display block
    position fixed
    visibility hidden
    width 100%
    height 100%
    background-color blues
    opacity 0
    transition all 1s
.overlayShow
    opacity 0.9
    visibility visible