.button
    display block
    width 220px
    height 50px
    border 0px
    outline 0px
    color white
    padding 10px 20px
    border-radius 4px
    background-image linear-gradient(60deg, #9AE2FF 0px, #9AE2FF 220px, #36C6FF 800px, #36C6FF 1020px);
    bg(left,center)
    background-size 1020px 50px
    &:hover
        bg(right,center)
        transition all 0.5s
.buttonWhite
    display inline-block
    ff(bold,1.7,1.7)
    color blues
    // height 50px
    border 0px
    outline 0px
    padding 17px 23px 16px
    border-radius 4px
    background-color #fff
    fill blues
    transition all .5s
    .svgButtonIcon
        display inline-block
        height 17px
        margin-left 10px
        svg
            display inline-block
            vertical-align middle
            width 14px
            height 14px
    &:hover
        background-color lighten(lightblues,70%)
        .svgButtonIcon
            svg
                transform scale(1.1)
.buttonBlack
    display inline-block
    ff(bold,1.7,1.7)
    color #fff
    // height 50px
    border 0px
    outline 0px
    padding 17px 23px 16px
    border-radius 4px
    background-color blacks
    fill #fff
    transition all 0.5s
    .svgButtonIcon
        display inline-block
        height 17px
        margin-left 10px
        svg
            margin-top -3px
            display inline-block
            vertical-align middle
            width 14px
            height 14px
    &:hover
            background-color darken(blacks,20%)
            .svgButtonIcon
                svg
                    transform scale(1.1)
.buttonBlue
    display inline-block
    ff(medium,1.7,1.7)
    color #fff
    // height 50px
    border 0px
    outline 0px
    padding 17px 23px 16px
    border-radius 4px
    background-color blues
    fill #fff
    transition all 0.5s
    .svgButtonIcon
        display inline-block
        height 20px
        margin-left 10px
        svg
            transition all 0.5s
            display inline-block
            vertical-align middle
            width 16px
            height 13px
    &:hover
        background-color darken(blues,20%)
        .svgButtonIcon
            svg
                transform scale(1.1)
.buttonBlueDisable
    background-color lightblues
    &:hover
        background-color lightblues