.registration
    display block
    position absolute
    top 50%
    left 0
    right 0
    margin 0 auto
    width 600px
    height 900px
    background-color #fff
    z-index 2000
    visibility hidden
    backface-visibility hidden
    transition all .4s
    transform translateY(-200%)
    border-radius 3px
    box-shadow 0px 0px 50px rgba(0,0,0,0.4)
    will-change auto
    overflow hidden
    opacity 0
.registrationBlock
    display block
    padding 47px 58px 0px
    overflow hidden
.registrationCompliteBlock
    display none
    padding 47px 58px 0px
    h1
        ff(bold,2.4,3)
        color blacks
        margin-bottom 20px
    p
        ff(normal,1.5,1.8)
        color greys
        margin-bottom 30px
.registrationCompliteButton
    text-align center
.remember
    height 320px
    opacity 0
.registrationComplite
    height 320px
    opacity 0
.registrationShow
    top 50px
    opacity 1
    visibility visible
    transform translateY(0%)




.registrationHeader
    display block
    width 100%
    margin-bottom 33px
    sf()
.registrationHeaderText
    col(1/2)
    ff(bold,2.4,2.9)
    color blacks
    vertical-align middle
.registrationHeaderRegistration
    col(1/2)
    text-align right
    padding-top 7px
    a

        color blues
        ff(normal,1.5,1.8)
        text-decoration none
        transition all 0.4s
        &:hover
            text-decoration underline
            color darken(blues,40%)

.registrationForm
    display block
    sf()
.registrationFormItem
    display block
    position relative
    margin-bottom 30px
    sf()
.registrationFormButton
    padding-top 30px
    padding-left 120px
    display block
    sf()
    button
        width 220px


.registrationFormFooter
    display block
    background-color lightgreys
    height 100%
    padding 35px 40px 0px (120px+58px)
    p
        ff(normal,1.5,1.8)
        color greys
        margin-bottom 25px
        a
            // text-decoration none
            color blues
            transition all 0.4s
            &:hover
                text-decoration underline
                color darken(blues,40%)

    button
        display block

#buttonSMSSubmit
    img
        display inline-block
        vertical-align middle
        margin-left 10px
        width 18px
        height 18px