.breadcrumbs
    display block
    width 100%
    margin-bottom 45px
    sf()
.breadcrumbsItem
    display inline-block
    ff(normal,1.3,1.6)
    a
        text-decoration none
        color blues
        transition all 0.4s
        &:hover
            text-decoration underline
            color darken(blues,40%)
    &:after
        display inline-block
        vertical-align middle
        ff(normal,1.3,1.6)
        color greys
        content '/'
        padding 0px 3px

.breadcrumbsItemActive
    display inline-block
    ff(normal,1.3,1.6)