@media phoneOnly {
  .tabletHide {
    display: none !important;
  }
}
/* normalize.css v2.1.0 | MIT License | git.io/normalize */
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: none;
}
html {
  font-size: 62.5% !important;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: Arial, sans-serif; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
}
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}
button,
input,
select,
textarea {
  font-family: inherit; /* 1 */
  margin: 0; /* 3 */
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  padding: 0; /* 2 */
}
input[type="search"] {
  -webkit-appearance: textfield; /* 1 */ /* 2 */
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a:focus {
  border: 0;
  outline: 0;
}
body,
html {
  height: 100%;
  position: relative;
}
.overlay {
  display: block;
  position: fixed;
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: #36c6ff;
  opacity: 0;
  transition: all 1s;
}
.overlayShow {
  opacity: 0.9;
  visibility: visible;
}
.pages {
  *zoom: 1;
  width: auto;
  max-width: 900px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  padding: 45px 0px 60px;
  height: 100%;
}
.pages:before,
.pages:after {
  content: '';
  display: table;
}
.pages:after {
  clear: both;
}
.pagesContent {
  display: block;
  float: left;
  width: 720px;
}
.pagesContent:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}
.pagesSidebar {
  display: block;
  width: 140px;
  float: right;
}
.pagesSidebar:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}
.button {
  display: block;
  width: 220px;
  height: 50px;
  border: 0px;
  outline: 0px;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  background-image: linear-gradient(60deg, #9ae2ff 0px, #9ae2ff 220px, #36c6ff 800px, #36c6ff 1020px);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 1020px 50px;
}
.button:hover {
  background-repeat: no-repeat;
  background-position: right center;
  transition: all 0.5s;
}
.buttonWhite {
  display: inline-block;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1.7rem;
  line-height: 1.7rem;
  font-weight: 700;
  font-style: normal;
  color: #36c6ff;
  border: 0px;
  outline: 0px;
  padding: 17px 23px 16px;
  border-radius: 4px;
  background-color: #fff;
  fill: #36c6ff;
  transition: all 0.5s;
}
.buttonWhite .svgButtonIcon {
  display: inline-block;
  height: 17px;
  margin-left: 10px;
}
.buttonWhite .svgButtonIcon svg {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
}
.buttonWhite:hover {
  background-color: #e1f6ff;
}
.buttonWhite:hover .svgButtonIcon svg {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.buttonBlack {
  display: inline-block;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1.7rem;
  line-height: 1.7rem;
  font-weight: 700;
  font-style: normal;
  color: #fff;
  border: 0px;
  outline: 0px;
  padding: 17px 23px 16px;
  border-radius: 4px;
  background-color: #333;
  fill: #fff;
  transition: all 0.5s;
}
.buttonBlack .svgButtonIcon {
  display: inline-block;
  height: 17px;
  margin-left: 10px;
}
.buttonBlack .svgButtonIcon svg {
  margin-top: -3px;
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
}
.buttonBlack:hover {
  background-color: #292929;
}
.buttonBlack:hover .svgButtonIcon svg {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.buttonBlue {
  display: inline-block;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1.7rem;
  line-height: 1.7rem;
  font-weight: 600;
  font-style: normal;
  color: #fff;
  border: 0px;
  outline: 0px;
  padding: 17px 23px 16px;
  border-radius: 4px;
  background-color: #36c6ff;
  fill: #fff;
  transition: all 0.5s;
}
.buttonBlue .svgButtonIcon {
  display: inline-block;
  height: 20px;
  margin-left: 10px;
}
.buttonBlue .svgButtonIcon svg {
  transition: all 0.5s;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 13px;
}
.buttonBlue:hover {
  background-color: #00b1f7;
}
.buttonBlue:hover .svgButtonIcon svg {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.buttonBlueDisable {
  background-color: #9ae2ff;
}
.buttonBlueDisable:hover {
  background-color: #9ae2ff;
}
.labelInput {
  display: inline-block;
  width: 120px;
  color: #666;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 400;
  font-style: normal;
}
.input {
  display: inline-block;
  width: 360px;
  height: 50px;
  padding: 10px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 600;
  font-style: normal;
  color: #333;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}
.input:active,
.input:focus {
  outline: 0;
}
.inputSmall {
  width: 210px !important;
}
input.error {
  border: 1px solid #ffb164;
}
label.error {
  position: absolute;
  top: -30px;
  color: #ffb164;
  background-color: #fff;
  width: 360px;
  height: 20px;
  padding-top: 10px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 400;
  font-style: normal;
  left: 0;
}
.inputPlaceLink {
  display: inline-block;
  width: 360px;
  position: relative;
}
.inputPlaceLink a {
  display: block;
  position: absolute;
  top: 17px;
  right: 10px;
  color: #36c6ff;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  transition: all 0.4s;
}
.inputPlaceLink a:hover {
  text-decoration: underline;
  color: #0085b9;
}
.inputPlaceIcon {
  display: inline-block;
  width: 360px;
  position: relative;
}
.inputPlaceIcon .inputIconLoad {
  display: block;
  visible: hidden;
  opacity: 0;
  position: absolute;
  top: 16px;
  right: 10px;
}
.inputPlaceIcon .inputIconLoad img {
  width: 18px;
  height: 18px;
}
.inputPlaceIcon .inputIconLoadShow {
  visible: hidden;
  opacity: 1;
}
.inputPlaceIcon .inputIconComplete {
  display: block;
  visible: hidden;
  opacity: 0;
  fill: #36c6ff;
  position: absolute;
  top: 17px;
  right: 10px;
}
.inputPlaceIcon .inputIconComplete svg {
  width: 16px;
  height: 16px;
}
.inputPlaceIcon .inputIconCompleteShow {
  visible: hidden;
  opacity: 1;
}
.inputPlaceIconSmall {
  width: 210px;
}
.inputTooltip {
  display: block;
  margin-top: 3px;
  margin-bottom: -16px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-style: normal;
  padding-left: 140px;
  color: #666;
}
.inputRightTooltip {
  display: inline-block;
  vertical-align: middle;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: 400;
  font-style: normal;
  color: #666;
  margin-top: -6px;
  padding: 0px 0px 0px 10px;
  width: 140px;
}
.inputRightTooltip:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}
.login {
  display: block;
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 600px;
  height: 400px;
  background-color: #fff;
  z-index: 2000;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: all 0.4s;
  -webkit-transform: translateY(-200%);
      -ms-transform: translateY(-200%);
          transform: translateY(-200%);
  border-radius: 3px;
  box-shadow: 0px 0px 50px rgba(0,0,0,0.4);
  will-change: auto;
  padding: 47px 58px;
  opacity: 0;
}
.loginShow {
  top: 110px;
  opacity: 1 !important;
  visibility: visible;
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}
.loginHeader {
  display: block;
  width: 100%;
  margin-bottom: 33px;
}
.loginHeader:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}
.loginHeaderText {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 2.9rem;
  font-weight: 700;
  font-style: normal;
  color: #333;
  vertical-align: middle;
}
.loginHeaderText:before,
.loginHeaderText:after {
  content: '';
  display: table;
}
.loginHeaderText:after {
  clear: both;
}
.loginHeaderText:last-child {
  margin-right: 0%;
}
.loginHeaderRegistration {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  text-align: right;
  padding-top: 7px;
}
.loginHeaderRegistration:before,
.loginHeaderRegistration:after {
  content: '';
  display: table;
}
.loginHeaderRegistration:after {
  clear: both;
}
.loginHeaderRegistration:last-child {
  margin-right: 0%;
}
.loginHeaderRegistration a {
  color: #36c6ff;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  transition: all 0.4s;
}
.loginHeaderRegistration a:hover {
  text-decoration: underline;
  color: #0085b9;
}
.loginForm {
  display: block;
}
.loginForm:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}
.loginFormItem {
  display: block;
  margin-bottom: 30px;
}
.loginFormItem:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}
.loginFormButton {
  padding-top: 30px;
  padding-left: 120px;
  display: block;
}
.loginFormButton:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}
.loginFormButton button {
  width: 220px;
}
.rememberBlock {
  display: none;
  overflow: hidden;
}
.loginBlock {
  overflow: hidden;
}
.header {
  display: block;
  width: 100%;
  background-color: #36c6ff;
  padding: 0 20px;
}
.headerWrap {
  *zoom: 1;
  width: auto;
  max-width: 1170px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  padding: 20px 0px;
}
.headerWrap:before,
.headerWrap:after {
  content: '';
  display: table;
}
.headerWrap:after {
  clear: both;
}
.headerLogo {
  display: block;
  float: left;
  margin-top: 10px;
}
.headerLogo a {
  display: inline-block;
  width: 250px;
  height: 36px;
}
.headerLogo a svg {
  fill: #fff;
}
.headerMenu {
  display: block;
  float: right;
}
.headerMenuItem {
  display: inline-block;
  margin-right: 10px;
}
.headerMenuItem:last-child {
  margin-right: 0px;
}
.breadcrumbs {
  display: block;
  width: 100%;
  margin-bottom: 45px;
}
.breadcrumbs:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}
.breadcrumbsItem {
  display: inline-block;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-style: normal;
}
.breadcrumbsItem a {
  text-decoration: none;
  color: #36c6ff;
  transition: all 0.4s;
}
.breadcrumbsItem a:hover {
  text-decoration: underline;
  color: #0085b9;
}
.breadcrumbsItem:after {
  display: inline-block;
  vertical-align: middle;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-style: normal;
  color: #666;
  content: '/';
  padding: 0px 3px;
}
.breadcrumbsItemActive {
  display: inline-block;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-style: normal;
}
.pagesContentSmall h4 {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1.1rem;
  line-height: 1.3rem;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 5px;
  color: #808080;
  text-transform: uppercase;
}
.pagesContentSmall h1 {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 4rem;
  line-height: 5rem;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 26px;
}
.pagesContentSmall h2 {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 26px;
}
.pagesContentSmall p {
  font-family: Georgia, serif;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 26px;
}
.pagesContentMedium h4 {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1.1rem;
  line-height: 1.3rem;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 7px;
  color: #808080;
  text-transform: uppercase;
}
.pagesContentMedium h1 {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 4.8rem;
  line-height: 5rem;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 30px;
}
.pagesContentMedium h2 {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 2.9rem;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 30px;
}
.pagesContentMedium p {
  font-family: Georgia, serif;
  font-size: 2.1rem;
  line-height: 2.5rem;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 30px;
}
.pagesContentBig h4 {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1.1rem;
  line-height: 1.3rem;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 10px;
  color: #808080;
  text-transform: uppercase;
}
.pagesContentBig h1 {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 5.8rem;
  line-height: 6rem;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 34px;
}
.pagesContentBig h2 {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 2.8rem;
  line-height: 3.5rem;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 34px;
}
.pagesContentBig p {
  font-family: Georgia, serif;
  font-size: 2.5rem;
  line-height: 2.9rem;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 34px;
}
.textSize {
  display: block;
}
.textSize:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}
.textSizeItem,
.textSizeSmall,
.textSizeMedium,
.textSizeBig {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  color: #36c6ff;
  border: 1px solid #36c6ff;
  border-radius: 50%;
  text-align: center;
  text-transform: uppercase;
  margin-right: 10px;
  cursor: pointer;
}
.textSizeItem:last-child,
.textSizeSmall:last-child,
.textSizeMedium:last-child,
.textSizeBig:last-child {
  margin-right: 0px;
}
.textSizeItem span,
.textSizeSmall span,
.textSizeMedium span,
.textSizeBig span {
  display: block;
  margin-top: -1px;
  margin-left: 1px;
  transition: all 0.5s;
}
.textSizeItem:hover span,
.textSizeSmall:hover span,
.textSizeMedium:hover span,
.textSizeBig:hover span {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.textSizeItemActive {
  color: #fff;
  background-color: #36c6ff;
}
.textSizeSmall {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1.4rem;
  line-height: 4rem;
  font-weight: 400;
  font-style: normal;
}
.textSizeMedium {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 4rem;
  font-weight: 400;
  font-style: normal;
}
.textSizeBig {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 2.6rem;
  line-height: 4rem;
  font-weight: 400;
  font-style: normal;
}
.textShare {
  display: block;
  float: right;
}
.textShare:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}
.textShareItem,
.textShareLike,
.textSharePrint,
.textShareCloud {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  color: #36c6ff;
  border: 1px solid #36c6ff;
  border-radius: 50%;
  text-align: center;
  text-transform: uppercase;
  margin-right: 10px;
  cursor: pointer;
}
.textShareItem:last-child,
.textShareLike:last-child,
.textSharePrint:last-child,
.textShareCloud:last-child {
  margin-right: 0px;
}
.textShareItem svg,
.textShareLike svg,
.textSharePrint svg,
.textShareCloud svg {
  transition: all 0.5s;
  fill: #36c6ff;
}
.textShareItem:hover svg,
.textShareLike:hover svg,
.textSharePrint:hover svg,
.textShareCloud:hover svg {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  fill: #00b1f7;
}
.textShareLike {
  padding-top: 11px;
}
.textShareLike svg {
  width: 18px;
  height: 17px;
}
.textSharePrint {
  padding-top: 10px;
}
.textSharePrint svg {
  width: 18px;
  height: 17px;
}
.textShareCloud {
  padding-top: 10px;
}
.textShareCloud svg {
  width: 20px;
  height: 15px;
}
.footer {
  display: block;
  background-color: #f2f2f2;
}
.footer:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}
.footerWrap {
  *zoom: 1;
  width: auto;
  max-width: 900px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  padding: 45px 0px;
}
.footerWrap:before,
.footerWrap:after {
  content: '';
  display: table;
}
.footerWrap:after {
  clear: both;
}
.footerMenu {
  display: block;
  margin-bottom: 50px;
}
.footerMenu a {
  display: inline-block;
  text-decoration: none;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-weight: 600;
  font-style: normal;
  color: #333;
  margin-right: 30px;
  margin-bottom: 10px;
  transition: color 0.4s;
}
.footerMenu a:last-child {
  margin-right: 0;
}
.footerMenu a:hover {
  color: #36c6ff;
}
.footerCopyright {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.3333333333333%;
  margin-left: 0%;
  margin-right: 3%;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;
  font-style: normal;
  color: #666;
}
.footerCopyright:before,
.footerCopyright:after {
  content: '';
  display: table;
}
.footerCopyright:after {
  clear: both;
}
.footerCopyright:last-child {
  margin-right: 0%;
}
.footerPhone {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.3333333333333%;
  margin-left: 0%;
  margin-right: 3%;
  color: #666;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;
  font-style: normal;
}
.footerPhone:before,
.footerPhone:after {
  content: '';
  display: table;
}
.footerPhone:after {
  clear: both;
}
.footerPhone:last-child {
  margin-right: 0%;
}
.footerPhone b {
  display: block;
  color: #333;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 2.9rem;
  font-weight: 300;
  font-style: normal;
  margin-bottom: 10px;
}
.footerFeedback {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.3333333333333%;
  margin-left: 0%;
  margin-right: 3%;
}
.footerFeedback:before,
.footerFeedback:after {
  content: '';
  display: table;
}
.footerFeedback:after {
  clear: both;
}
.footerFeedback:last-child {
  margin-right: 0%;
}
.registration {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 600px;
  height: 900px;
  background-color: #fff;
  z-index: 2000;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: all 0.4s;
  -webkit-transform: translateY(-200%);
      -ms-transform: translateY(-200%);
          transform: translateY(-200%);
  border-radius: 3px;
  box-shadow: 0px 0px 50px rgba(0,0,0,0.4);
  will-change: auto;
  overflow: hidden;
  opacity: 0;
}
.registrationBlock {
  display: block;
  padding: 47px 58px 0px;
  overflow: hidden;
}
.registrationCompliteBlock {
  display: none;
  padding: 47px 58px 0px;
}
.registrationCompliteBlock h1 {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 3rem;
  font-weight: 700;
  font-style: normal;
  color: #333;
  margin-bottom: 20px;
}
.registrationCompliteBlock p {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 400;
  font-style: normal;
  color: #666;
  margin-bottom: 30px;
}
.registrationCompliteButton {
  text-align: center;
}
.remember {
  height: 320px;
  opacity: 0;
}
.registrationComplite {
  height: 320px;
  opacity: 0;
}
.registrationShow {
  top: 50px;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}
.registrationHeader {
  display: block;
  width: 100%;
  margin-bottom: 33px;
}
.registrationHeader:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}
.registrationHeaderText {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 2.9rem;
  font-weight: 700;
  font-style: normal;
  color: #333;
  vertical-align: middle;
}
.registrationHeaderText:before,
.registrationHeaderText:after {
  content: '';
  display: table;
}
.registrationHeaderText:after {
  clear: both;
}
.registrationHeaderText:last-child {
  margin-right: 0%;
}
.registrationHeaderRegistration {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  text-align: right;
  padding-top: 7px;
}
.registrationHeaderRegistration:before,
.registrationHeaderRegistration:after {
  content: '';
  display: table;
}
.registrationHeaderRegistration:after {
  clear: both;
}
.registrationHeaderRegistration:last-child {
  margin-right: 0%;
}
.registrationHeaderRegistration a {
  color: #36c6ff;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  transition: all 0.4s;
}
.registrationHeaderRegistration a:hover {
  text-decoration: underline;
  color: #0085b9;
}
.registrationForm {
  display: block;
}
.registrationForm:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}
.registrationFormItem {
  display: block;
  position: relative;
  margin-bottom: 30px;
}
.registrationFormItem:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}
.registrationFormButton {
  padding-top: 30px;
  padding-left: 120px;
  display: block;
}
.registrationFormButton:after {
  visibility: hidden;
  display: block;
  content: '';
  clear: both;
  height: 0;
}
.registrationFormButton button {
  width: 220px;
}
.registrationFormFooter {
  display: block;
  background-color: #e6e6e6;
  height: 100%;
  padding: 35px 40px 0px 178px;
}
.registrationFormFooter p {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 400;
  font-style: normal;
  color: #666;
  margin-bottom: 25px;
}
.registrationFormFooter p a {
  color: #36c6ff;
  transition: all 0.4s;
}
.registrationFormFooter p a:hover {
  text-decoration: underline;
  color: #0085b9;
}
.registrationFormFooter button {
  display: block;
}
#buttonSMSSubmit img {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  width: 18px;
  height: 18px;
}
