.textShare
    display block
    float right
    sf()
.textShareItem
    display block
    float left
    size(40)
    color blues
    border 1px solid blues
    border-radius 50%
    text-align center
    text-transform uppercase
    margin-right 10px
    cursor pointer
    &:last-child
        margin-right 0px
    svg
        transition all 0.5s
        fill blues
    &:hover
        svg
            transform scale(1.2)
            fill darken(blues,20%)
.textShareLike
    @extend .textShareItem
    padding-top 11px
    svg
        size(18,17)

.textSharePrint
    @extend .textShareItem
    padding-top 10px
    svg
        size(18,17)
.textShareCloud
    @extend .textShareItem
    padding-top 10px
    svg
        size(20,15)


