.pages
    center(900px)
    padding 45px 0px 60px
    height 100%
.pagesContent
    display block
    float left
    width 720px
    sf()
.pagesSidebar
    display block
    width 140px
    float right
    sf()