<body>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="button-enter" viewBox="0 0 14 12">
          <title>button-enter icon</title>
          <path d="M10.57 5.715c0 .154-.055.29-.167.4l-4.858 4.858c-.113.113-.248.17-.402.17-.155 0-.29-.057-.402-.17-.112-.113-.17-.246-.17-.4V8h-4c-.154 0-.287-.057-.4-.17-.113-.113-.17-.246-.17-.4V4c0-.154.057-.29.17-.402.113-.112.246-.17.4-.17h4V.86c0-.155.058-.29.17-.403.114-.113.248-.17.403-.17.154 0 .29.057.402.17l4.858 4.858c.112.113.168.247.168.402zm3.145-3.143v6.285c0 .71-.252 1.315-.755 1.817-.503.504-1.108.755-1.817.755H8.285c-.076 0-.144-.03-.2-.086-.056-.057-.085-.123-.085-.2 0-.025-.003-.084-.01-.18-.006-.095-.006-.173-.004-.235.004-.064.012-.134.028-.212.015-.077.045-.135.09-.174.044-.04.105-.06.18-.06h2.86c.39 0 .728-.137 1.008-.418.28-.28.42-.616.42-1.01V2.573c0-.393-.14-.73-.42-1.01-.28-.28-.617-.42-1.01-.42H8.36c-.018 0-.053 0-.104-.007-.05-.006-.084-.016-.1-.027-.02-.012-.045-.03-.074-.05-.03-.02-.05-.047-.062-.08C8.006.946 8 .905 8 .86c0-.024-.003-.085-.01-.18-.006-.094-.006-.174-.004-.236.004-.063.012-.132.028-.21.015-.078.045-.134.09-.173.044-.04.105-.06.18-.06h2.86c.708 0 1.313.252 1.816.754.503.504.755 1.11.755 1.818z" fill-rule="evenodd"/>
        </symbol>
        <symbol id="button-feedback" viewBox="0 0 15 12">
          <title>button-feedback icon</title>
          <path d="M15 1.34v9.107c0 .37-.13.684-.394.946-.262.262-.577.393-.946.393H1.34c-.37 0-.684-.13-.946-.393C.13 11.13 0 10.816 0 10.447V1.34C0 .972.13.656.394.395.656.132.97 0 1.34 0h12.32c.37 0 .684.132.946.395.263.26.394.577.394.945zm-1.07.31V1.444c0-.024-.002-.06-.006-.108-.002-.048-.01-.082-.024-.105-.015-.02-.03-.046-.046-.073-.018-.03-.042-.05-.077-.064-.033-.014-.072-.02-.117-.02H1.34c-.073 0-.136.026-.19.078-.052.055-.08.118-.08.19 0 .937.41 1.73 1.232 2.377C3.38 4.565 4.498 5.45 5.658 6.37c.033.03.13.11.293.247.163.137.292.242.386.315.096.072.22.16.373.263.152.104.294.18.422.23.128.05.248.075.36.075h.016c.112 0 .232-.024.36-.074.128-.05.27-.127.423-.23.154-.104.278-.192.374-.264.094-.073.223-.178.385-.315l.292-.246c1.16-.92 2.28-1.805 3.356-2.653.302-.24.58-.563.84-.967s.39-.77.39-1.1zm0 8.797V4.02c-.18.2-.372.384-.578.55-1.496 1.15-2.685 2.094-3.567 2.83-.285.24-.516.427-.695.56-.178.135-.42.27-.724.407-.304.137-.59.205-.858.205h-.016c-.268 0-.555-.068-.858-.205-.304-.137-.546-.272-.724-.406-.18-.133-.41-.32-.695-.56-.882-.736-2.07-1.68-3.566-2.83-.207-.166-.4-.35-.58-.55v6.427c0 .073.028.135.08.188.054.054.117.08.19.08h12.32c.073 0 .136-.026.19-.08.052-.053.08-.115.08-.188z" fill-rule="evenodd"/>
        </symbol>
        <symbol id="button-registration" viewBox="0 0 14 14">
          <title>button-registration icon</title>
          <path d="M7.43 2.384l3.712 3.714-7.427 7.43H0V9.813l7.43-7.43zm-4.19 10l.814-.812-2.1-2.1-.81.813v.956h1.14v1.144h.957zm4.67-8.286c0-.13-.064-.195-.195-.195-.06 0-.112.02-.153.062l-4.84 4.838c-.04.043-.062.094-.062.152 0 .13.066.198.197.198.06 0 .11-.022.152-.063l4.838-4.84c.042-.04.062-.09.062-.152zm5.617-.858c0 .317-.11.585-.33.805l-1.482 1.482L8 1.813 9.482.34c.214-.227.483-.34.803-.34.316 0 .587.113.813.34l2.098 2.088c.22.233.33.504.33.812z" fill-rule="evenodd"/>
        </symbol>
        <symbol id="icon-cloud" viewBox="0 0 20 15">
          <title>icon-cloud icon</title>
          <path d="M19.643 11.142c0 1.065-.377 1.973-1.13 2.727-.753.753-1.663 1.13-2.728 1.13H4.857c-1.24 0-2.298-.442-3.18-1.322-.88-.88-1.32-1.94-1.32-3.18 0-.87.235-1.673.704-2.41.47-.737 1.098-1.29 1.888-1.656-.012-.202-.02-.346-.02-.433 0-1.42.503-2.633 1.508-3.637C5.44 1.358 6.65.855 8.07.855c1.045 0 2.002.292 2.87.875.867.582 1.498 1.356 1.892 2.32.476-.415 1.03-.623 1.668-.623.71 0 1.315.252 1.818.755.502.502.753 1.107.753 1.817 0 .507-.136.97-.41 1.385.87.208 1.584.662 2.144 1.36.56.7.84 1.5.84 2.397zm-6.43-2.25c0-.093-.03-.172-.09-.232-.06-.06-.137-.09-.23-.09h-2.25V5.035c0-.088-.032-.162-.096-.227-.064-.063-.14-.095-.226-.095H8.394c-.087 0-.162.032-.227.095-.062.065-.095.14-.095.227V8.57H5.82c-.086 0-.162.032-.224.096-.065.063-.096.138-.096.226 0 .094.03.17.09.23l3.536 3.536c.06.06.138.09.23.09.095 0 .17-.03.232-.09l3.525-3.525c.068-.08.1-.16.1-.24z" fill-rule="evenodd"/>
        </symbol>
        <symbol id="icon-complete" viewBox="0 0 14 11">
          <title>icon-complete icon</title>
          <path d="M13.838 2.07c0 .24-.082.442-.25.608L7.125 9.143 5.91 10.357c-.167.166-.37.25-.608.25s-.44-.084-.607-.25L.25 5.91C.082 5.745 0 5.543 0 5.304c0-.238.082-.44.25-.607l1.213-1.214c.168-.167.37-.25.607-.25.238 0 .44.083.607.25l2.625 2.634L11.16.25c.166-.167.37-.25.607-.25.24 0 .44.083.608.25l1.213 1.214c.168.167.25.37.25.607" fill-rule="evenodd"/>
        </symbol>
        <symbol id="icon-like" viewBox="0 0 18 17">
          <title>icon-like icon</title>
          <path d="M9 16.285c-.174 0-.32-.06-.44-.182l-6.27-6.047c-.067-.052-.16-.14-.276-.26-.117-.12-.303-.34-.557-.657-.255-.32-.482-.646-.684-.982-.2-.334-.38-.74-.537-1.215C.078 6.468 0 6.005 0 5.556 0 4.084.426 2.93 1.275 2.1 2.125 1.27 3.3.856 4.8.856c.417 0 .84.072 1.272.217.432.145.834.338 1.205.582.37.245.692.475.96.69.267.212.522.44.763.68.24-.24.496-.468.764-.68.267-.215.588-.445.96-.69.37-.244.772-.437 1.204-.582.43-.145.855-.217 1.27-.217 1.5 0 2.676.416 3.527 1.246.85.83 1.275 1.984 1.275 3.456 0 1.48-.767 2.988-2.3 4.52l-6.26 6.027c-.12.12-.266.182-.44.182" fill-rule="evenodd"/>
        </symbol>
        <symbol id="icon-print" viewBox="0 0 18 17">
          <title>icon-print icon</title>
          <path d="M17.358 9.213v4.18c0 .085-.032.162-.096.224-.064.064-.14.096-.226.096h-2.25v1.607c0 .268-.095.496-.28.684-.19.187-.416.28-.684.28H4.18c-.27 0-.496-.093-.684-.28-.187-.188-.28-.416-.28-.684v-1.607H.965c-.09 0-.163-.032-.228-.096-.063-.062-.095-.14-.095-.224v-4.18c0-.53.19-.983.568-1.362.38-.375.833-.565 1.362-.565h.643V1.82c0-.268.094-.495.28-.683.19-.187.415-.282.684-.282h6.75c.267 0 .56.07.882.2.323.136.577.296.764.484l1.527 1.526c.188.188.348.44.482.764.134.32.2.615.2.883v2.572h.644c.527 0 .982.19 1.36.566.378.38.568.834.568 1.363zM4.5 8.57h9V4.713h-1.607c-.268 0-.495-.094-.683-.282-.187-.186-.28-.413-.28-.68V2.14H4.5V8.57zm0 6.43h9v-2.573h-9V15zm11.38-5.334c.128-.128.192-.278.192-.453 0-.174-.064-.325-.19-.45-.128-.128-.28-.193-.453-.193-.176 0-.326.065-.454.192-.126.126-.19.277-.19.45 0 .176.064.326.19.454.128.127.278.19.453.19.173 0 .324-.063.45-.19z" fill-rule="evenodd"/>
        </symbol>
        <symbol id="logo" viewBox="0 0 250 36">
          <title>logo icon</title>
          <g fill-rule="evenodd"><path d="M132.6 19.8c-.3 0-.7.1-1.1.3.2.4.3.8.3 1.2 0 .9-.5 1.6-1.5 1.6-.9 0-1.5-.5-1.5-2.2 0-.4.1-1.2.2-1.7l1.1-5.9c.4-2.3.8-2.6.8-2.6s-.2-1-1.6-1c-1.3 0-2.1.8-2.3 1-.7-.9-1.8-1.8-3.6-1.8-3.4 0-5.9 2.5-5.9 5.4 0 2.4 1.6 4 4.5 4h.9c-1 2.1-2.1 3.8-3.7 3.8-.6 0-1.1-.5-1.1-1.4 0-.5.1-.8.2-1.3 0 0-.3-.4-1.1-.4-1.1 0-1.8.7-2 1.8-.5.8-1 1.4-1.7 1.4s-1-.4-1-1.2c0-.3 0-.7.1-1.2l1.1-6.5c.4-2.3.8-2.6.8-2.6s-.2-1-1.5-1c-1.1 0-1.9.6-2.2.9-.8-1-2.1-1.6-3.5-1.6-3.2 0-6.5 2.9-7.6 7.8l-.2 1c-.7 2-1.8 4.4-3.1 4.4-.7 0-1-.4-1-1.3 0-.4 0-.8.2-1.3l1.2-5.8c.2-.9.3-1.8.3-2.6 0-1.4-.8-2.2-2.4-2.2-.8 0-1.3.4-1.3.4s-.1 1-.8 2.7c-1 2.5-2.5 5.2-4 7.8-.4-2.6-1.1-6.1-1.7-8.2-.5-1.6-1.3-2.8-3.1-2.8-1.1 0-2.3.9-2.3 2.1 0 .3.1.4.1.4h.3c.4 0 1 .1 1.3.9-.5 5.2-2.2 9.9-3.7 9.9-.7 0-.8-.7-.8-1.4s.2-1.3.2-1.3-.3-.4-1.1-.4c-1.1 0-2 1-2 2.3 0 0-.4.8-1.3.8-.7 0-1-.5-1-1.1 0-.7.1-1.2.2-1.7l1.1-5.4c.2-1.2.4-1.8.4-2.8 0-1.4-.8-2.2-2.5-2.2-.8 0-1.3.4-1.3.4s.1.2.1.8v.7c-1 4.8-3.6 11.4-5.8 11.4-.8 0-1.1-.5-1.1-1.3 0-.3 0-.8.2-1.2l1-5.4c.2-1.1.5-2.4.5-3.1 0-1.4-.8-2.2-2.4-2.2-.9 0-1.3.4-1.3.4 0 .2.1.4.1.7 0 .6-.3 2-.3 2-.6.4-1.9.9-3.3.9-.3 0-.6-.1-.6-.1-.2-1.7-1.5-3.3-3.1-3.3-1.3 0-2.2.9-2.2 2.2 0 1.4.8 2.5 3.3 3v.3c0 2.5-1.1 7.1-4.2 7.1-1.7 0-2.7-1.4-2.7-4.2 0-4.2 1.8-12.6 7-12.6 1 0 1.8.2 2.8.2 2.9 0 4.1-1.2 4.1-2.8 0-1.1-.8-1.3-.8-1.3-2.8 2.1-5.6 1-8.9 2.5-2.7 1.1-5.9 4.1-7.1 8.4-.6.2-1.5.5-2.5.5-.5 0-1.1-.2-1.1-.2-.6-2.4-2.3-3.9-4.8-3.9-3 0-6.6 1.8-7.6 6.7-.1.3-.1.5-.1.5h-1.4c-.6 0-1 0-1.3-.1l.3-1.4c.3-1.7.5-2.6.5-3.5 0-1.4-.8-2.2-2.4-2.2-.9 0-1.3.4-1.3.4s.2.2.2.8c0 .2 0 .6-.2 1l-1.1 5.7c-.9 2.3-2.5 5.3-4.4 5.3-.9 0-1.4-.6-1.4-1.8 0-.5.1-1.3.2-1.9l2.3-11.7c.4-1.9.6-3.2.6-3.9 0-1.6-1-2.6-2.6-2.6-3.2 0-5.4 2.1-6.8 4.7-3.4 6.5-5.8 16-10.7 16H.7c-.2.2-.4.8-.4 1.3 0 1.1.8 2.1 2.4 2.1 2.6 0 4.1-1 7.4-9.7 3.8-10.1 4.9-12 7.2-12.2l-2.6 12.6c-.3 1.5-.5 3-.5 4.3 0 3 1.6 5 4.9 5 1.6 0 2.9-.8 3.9-2 .2 1.3.9 2 2.4 2 1 0 1.3-.4 1.3-.4s-.1-.2-.1-.7c0-.3 0-.9.2-1.6l.7-3.4c.4 0 1 .1 1.6.1h1.4c0 4 2.6 6.1 5.9 6.1 4.6 0 6.6-4.2 7-8.1 0-.4.1-.8 0-1.2h.5c1 0 1.8-.1 2.4-.3-.2 1-.2 1.9-.2 2.7 0 4.7 2.4 6.8 5.7 6.8 5 0 6.9-4.2 7.1-9.3h.3c1.3 0 2.3-.3 3-.5l-.4 2c-.6 1.5-.8 2.7-.8 3.8 0 2.3 1.1 4 3.7 4 2.5 0 4.1-1.6 5.2-3.5.2 2.1 1.3 3.5 3.9 3.5 1.2 0 2.1-.4 2.7-.9.5.6 1.3.9 2.5.9 2.8 0 4.5-2.3 5.5-7.3.3 1.6.5 2.8 1 5.2.3 1.5.9 2.1 2.2 2.1.7 0 1.1-.3 1.1-.3 1.6-2.7 2.8-5 3.8-6.9 0 0-.4 2-.4 3.3 0 2.4 1.1 4 3.7 4 2.2 0 3.6-1.2 4.4-2.6.8 1.8 2.6 2.6 4.4 2.6 2.5 0 3.9-1.2 4.8-2.5.4 1.5 1.5 2.5 3.6 2.5 1.4 0 2.3-.5 2.9-1.2.5.7 1.5 1.2 2.8 1.2 3.6 0 5.6-3.3 6.7-6.7-.2.9-.3 2-.3 2.6 0 2.5 1.7 4.9 5 4.9 2.8 0 4.2-1.7 4.2-3.4-.1-1.2-.9-1.8-1.8-1.8zm-92-2.6c-.6 2.9-2 4.9-3.9 4.9-1.5 0-2.6-1-2.6-3.6 0-4.5 2-7.8 4.4-7.8v.5c0 1.5.7 2.8 2.4 3.3 0 1.2-.1 1.9-.3 2.7zm69.4-3.1l-.4 1.9c-.6 2.9-2.3 6.2-4.3 6.2-1.2 0-1.9-1.1-1.9-2.7 0-4.7 2.5-8.8 4.7-8.8 1.3 0 2 1 2 2.5 0 .2 0 .5-.1.9zm16.1-.3c-.2.7-1 2.5-3 2.5-1 0-1.6-.8-1.6-1.9 0-.3 0-.7.2-1.1.5-1.8 1.6-2.6 2.7-2.6 1.3 0 2 .8 2.1 2.2l-.4.9zM248.2 19.8c-.3 0-.7.1-1.1.3.2.4.3.8.3 1.2 0 .9-.5 1.6-1.5 1.6-.9 0-1.5-.5-1.5-2.1 0-.7.1-1.5.3-2.4l1-5.3c.4-2.3.8-2.6.8-2.6s-.2-1-1.5-1c-1.2 0-1.9.6-2.2.9-.8-1-2.1-1.6-3.5-1.6-3.2 0-6.5 2.9-7.6 7.8-.2.9-.3 1.6-.3 2.4-.7 1.6-1.6 3-2.6 3-.7 0-1-.4-1-1.3 0-.5.1-1.2.2-1.7l1.1-5.7c.1-.4.2-1.2.2-1.6 0-1.8-1-2.9-3-2.9-2.1 0-3.8 1.9-5.1 4.2.1-.4.1-.8.1-1.1 0-1.9-1-3-3-3-2.1 0-3.9 2-5.4 4.4.2-.8.3-1.4.3-2.1 0-1.4-.8-2.2-2.5-2.2-.8 0-1.3.4-1.3.4s.2.2.2.8c0 .3 0 .6-.1 1l-.2 1.2c-.7.3-1.6.6-2.9.6-.4 0-.8-.1-1.1-.2-.6-2.4-2.3-3.9-4.7-3.9-2.1 0-4.4.8-6.1 2.9-.5.4-1.5 1.1-3.5 1.1-.3 0-.8-.1-.8-.1-.3-1.6-1.4-3.3-3.1-3.3-1.4 0-2.4.9-2.4 2.2 0 1.4 1.2 2.5 3.2 3v.3c0 3.1-1.2 7.2-4.1 7.2-1.6 0-2.6-1.5-2.6-4.4 0-4.9 1.6-11 5.4-12.2.5-.2 1.1-.2 1.5-.2 1 0 1.8.2 2.8.2 2.9 0 4-1.1 4-2.8 0-1.1-.8-1.3-.8-1.3-2.8 2.1-5.7 1.1-9 2.5-5.3 2.3-7.9 8.5-7.9 13.4v.4c-.5 1.9-1.7 4.3-3 4.3-.7 0-.9-.4-.9-1.2 0-.4.1-1 .2-1.6l1.2-6.1c.4-2 .8-2.5.8-2.5s-.2-1-1.6-1c-1.3 0-2.2.9-2.2.9s-1-1.6-3.4-1.6c-3.1 0-6.5 2.8-7.7 7.5-.9.8-2 1.7-3.5 2.5.6-1.5.9-3.2.9-4.8 0-3.6-2.1-5.2-5.1-5.2-2.2 0-3.8.9-4.9 2-.1-1.2-.9-2-2.4-2-.8 0-1.3.4-1.3.4s.1.2.1.8c0 .2 0 .6-.1 1l-3.4 17c-.2 1.1-.4 2.5-.4 3.5 0 2 1 3.7 3.1 3.7 1.5 0 1.5-.8 1.5-.8s-.7-.8-.7-3.3c0-1 .1-2.2.4-3.7l2.3-11.5c1-3.8 3.3-5.4 5.1-5.4 1.3 0 2 1 2 2.8 0 1.9-.8 5-2.2 6.9h-.7c-1.7 0-2.7.9-2.7 2 0 1 .8 1.8 2.3 1.8 1.8 0 3.5-1 4.8-2.6 1.7-.7 3.3-1.7 4.7-2.7 0 3.7 2.3 5.3 4.8 5.3s3.9-1.2 4.8-2.5c.4 1.5 1.5 2.5 3.5 2.5 2.5 0 3.8-1.5 4.6-3.1 1 2.1 2.8 3.1 4.9 3.1 4.5 0 6.1-3.1 6.9-6.5.2-1 .3-2 .4-2.8h.9c1.2 0 1.8-.3 1.8-.3-.4 1.1-.5 2.2-.5 3.3 0 4.1 2.5 6.3 5.8 6.3 4.8 0 7-4.9 7-8.6v-.7h.5c1.2 0 2.1-.2 2.8-.3l-1.1 5.7c-.1.6-.2 1.1-.2 1.6 0 1.5.7 2.3 2.5 2.3.8 0 1.2-.4 1.2-.4.3-4.9 4.1-11.9 5.6-11.9.3 0 .5.2.5.7 0 .2 0 .5-.1.9l-1.3 6.8c-.1.6-.2 1-.2 1.6 0 1.5.7 2.3 2.5 2.3.9 0 1.3-.4 1.3-.4.3-5.2 3.9-11.9 5.3-11.9.3 0 .5.2.5.7 0 .4-.1 1.1-.2 1.5l-.7 4c-.2 1.1-.2 1.8-.2 2.1 0 2.3 1.1 4 3.7 4 2 0 3.3-1 4.1-2.2.9 1.6 2.5 2.2 4.2 2.2 2.5 0 3.9-1.2 4.8-2.5.6 1.9 2.2 3.4 4.7 3.4 2.8 0 4.2-1.7 4.2-3.4.3-1.3-.5-1.9-1.5-1.9zM171 13.7l-.3 1.8c-.5 3-2.5 6.7-4.4 6.7-1.2 0-1.8-1-1.8-2.7 0-3.6 1.9-8.8 4.7-8.8 1.3 0 2 1.5 1.8 3zm32.5 1.2c0 3.1-1.3 7.3-4.2 7.3-1.5 0-2.6-1-2.6-3.6 0-2.8 1.1-7.8 4.4-7.8v.4c0 1.5.5 2.8 2.5 3.4v.3h-.1zm38.3-1l-.3 1.6c-.6 2.9-2.5 6.7-4.4 6.7-1.2 0-1.8-1-1.8-2.7 0-3.6 1.8-8.8 4.6-8.8 1.4 0 2.2 1.2 1.9 3.2z"/></g>
        </symbol></svg>
</body>