.footer
    .footerWrap
        .footerMenu
            a(href="#") Любимая работа
            a(href="#") Информация
            a(href="#") Вопросы и ответы
            a(href="#") Отчетность через интернет
            a(href="#") Энциклопедия бухгалтера
            a(href="#") Семинары
            a(href="#") Кадры
            a(href="#") Бланки
            a(href="#") Учетная политика
        .footerCopyright
            | © 2014 </br>
            | Cайт ИД «Налоговый лоцман» зарегистрирован как средство массовой информации ПИ-3495/24 от 12.04.2011
        .footerPhone
            b 8-800-200-40-50
            | Горячая линия без перерыва </br> и выходных с 8.00 до 20.00
        .footerFeedback
            button.buttonBlue
                    | Обратная связь
                    +svgButtonIcon("button-feedback")