.header
    .headerWrap
        .headerLogo
            a(href="#", target="_blank")
                +svgIcon("logo","0 0 250 37")
        .headerMenu
            .headerMenuItem
                button.buttonWhite.buttonLoginJS
                    | Вход
                    +svgButtonIcon("button-enter")
            .headerMenuItem
                button.buttonBlack.buttonRegJS
                    | Регистрация
                    +svgButtonIcon("button-registration")

