.login
    .loginBlock
        .loginHeader
            .loginHeaderText
                | Вход
            .loginHeaderRegistration
                a(href="#")#regLink Регистрация
        .loginForm
            .loginFormItem
                label.labelInput
                    | Эл. почта
                input#emailLogin.input
            .loginFormItem
                label.labelInput
                    | Пароль
                .inputPlaceLink
                    input(type="password")#passwordLogin.input
                    a(href="javascript:void(0)")#remeberLink напомнить
            .loginFormButton
                button#buttonLoginSubmit.buttonBlue.buttonBlueDisable Войти
    .rememberBlock
        .loginHeader
            .loginHeaderText
                | Забыли пароль
            .loginHeaderRegistration
                a(href="javascript:void(0)")#loginLink Вход
        .loginForm
            .loginFormItem
                label.labelInput
                    | Телефон
                .inputPlaceIcon
                    input#emailPhone.input
                    .inputIconLoad
                        img(src="./icons/spin.svg", alt="")
                    .inputIconComplete
                        +svgIcon('icon-complete')
                .inputTooltip
                    | Вышлем СМС пароль на ваш номер телефона
            .loginFormButton
                button#buttonRememberSubmit.buttonBlue.buttonBlueDisable Напомнить