.pages
        .breadcrumbs
            .breadcrumbsItem
                a(href="#") Любимая работа
            .breadcrumbsItemActive
                | Пользовательское соглашение
        .pagesContent.pagesContentMedium
            h4 20 декабря 2014
            h1
                | Пользовательское соглашение</br>
                | соглашение сервисов</br>
                | Любимая работа </br>
            h2 1. &nbsp Общие положения
            p.
                1.1.    ООО «Любимая работа» (далее — «ЛР») предлагает пользователю сети Интернет (далее – Пользователь) - использовать свои сервисы на условиях, изложенных в настоящем Пользовательском соглашении (далее — «Соглашение», «ПС»). Соглашение вступает в силу с момента выражения Пользователем согласия с его условиями в порядке, предусмотренном п. 1.4 Соглашения.
            p.

                1.2.    ЛР предлагает Пользователям доступ к широкому спектру сервисов, включая средства навигации, коммуникации, поиска, размещения и хранения разного рода информации и материалов (контента), персонализации контента, совершения покупок и т. д. Все существующие на данный момент сервисы, а также любое развитие их и/или добавление новых является предметом настоящего Соглашения.

            p.
                1.3.    Использование сервисов ЛР регулируется настоящим Соглашением, Лицензией на использование поисковой системы Яндекса , Политикой конфиденциальности, а также условиями использования отдельных сервисов. Соглашение может быть изменено ЛР без какого-либо специального уведомления, новая редакция Соглашения вступает в силу с момента ее размещения в сети Интернет по указанному в настоящем абзаце адресу, если иное не предусмотрено новой редакцией Соглашения. Действующая редакция ПС всегда находится на странице по адресу http://legal.yandex.ru/rules/.
            p.
                1.4.    Начиная использовать какой-либо сервис/его отдельные функции, либо пройдя процедуру регистрации, Пользователь считается принявшим условия Соглашения в полном объеме, без всяких оговорок и исключений. В случае несогласия Пользователя с какими-либо из положений Соглашения, Пользователь не вправе использовать сервисы Яндекса. В случае если Яндексом были внесены какие-либо изменения в Соглашение в порядке, предусмотренном пунктом 1.3 Соглашения, с которыми Пользователь не согласен, он обязан прекратить использование сервисов Яндекса.

            p.

                2.1.    Для того чтобы воспользоваться некоторыми сервисами Яндекса или некоторыми отдельными функциями сервисов, Пользователю необходимо пройти процедуру регистрации, в результате которой для Пользователя будет создана уникальная учетная запись.
            .textShare
                .textShareLike
                    +svgIcon('icon-like')
                .textSharePrint
                    +svgIcon('icon-print')
                .textShareCloud
                    +svgIcon('icon-cloud')
        .pagesSidebar
            .textSize
                .textSizeSmall
                    span a
                .textSizeMedium.textSizeItemActive
                    span a
                .textSizeBig
                    span a
