.registration
    .registrationBlock
        .registrationHeader
            .registrationHeaderText
                | Регистрация
            .registrationHeaderRegistration
                a(href="javascript:void(0)")#loginFromRegLink Вход
        form.registrationForm
            .registrationFormItem
                label.labelInput
                    | Эл. почта
                .inputPlaceIcon
                    input#emailRegistration.input(name="email")
                    .inputIconComplete
                        +svgIcon('icon-complete')
                .inputTooltip
                    | Вышлем ссылку для подтверждения регистрации
            .registrationFormItem
                label.labelInput
                    | Пароль
                .inputPlaceIcon
                    input(type="password" name="password")#passwordLogin.input
                    .inputIconComplete
                        +svgIcon('icon-complete')
            .registrationFormItem
                | &nbsp
            .registrationFormItem
                label.labelInput
                    | Фамилия
                .inputPlaceIcon
                    input(name="first").input
                    .inputIconComplete
                        +svgIcon('icon-complete')
            .registrationFormItem
                label.labelInput
                    | Имя
                .inputPlaceIcon
                    input(name="last").input
                    .inputIconComplete
                        +svgIcon('icon-complete')
            .registrationFormItem
                label.labelInput
                    | Отчество
                .inputPlaceIcon
                    input(name="middle").input
                    .inputIconComplete
                        +svgIcon('icon-complete')
            .registrationFormItem
                label.labelInput
                    | Телефон
                .inputPlaceIcon.inputPlaceIconSmall
                    input#registrationPhone.input.inputSmall
                    .inputIconLoad
                        img(src="./icons/spin.svg", alt="")
                    .inputIconComplete
                        +svgIcon('icon-complete')
                .inputRightTooltip
                    | Пример для РФ: </br>
                    | +7 (921) 123-3333
                .inputTooltip
                    | Нужен на случай если вы забудете пароль
            .registrationFormItem
                label.labelInput &nbsp
                button#buttonSMSSubmit.buttonBlue.buttonBlueDisable(disabled)
                    | Выслать СМС с кодом
    .registrationFormFooter
        p Прочитайте условия &nbsp
            a(href="#") пользовательского соглашения
        button#buttonRegistrationSubmit.buttonBlue.buttonBlueDisable(disabled)Зарегистрироваться
    .registrationCompliteBlock
        h1.
            Поздравляем Ксения!</br>
            Вы успешно зарегистрировались
            на сайте любимаяработа.рф
        p.
            Мы отправили вам письмо. Проверьте почту и подтвердите
            свой эл. адрес. Спасибо, что выбрали Любимую работу!
        .registrationCompliteButton
            button#buttonMain.buttonBlue Перейти на сайт