.pagesContentSmall
    h4
        ff(normal,1.1,1.3)
        margin-bottom 5px
        color #808080
        text-transform uppercase
    h1
        ff(bold,4.0,5,0)
        margin-bottom 26px
    h2
        ff(bold,2.0,2.4)
        margin-bottom 26px
    p
        ff(georgia,1.6,2.0)
        margin-bottom 26px
.pagesContentMedium
    h4
        ff(normal,1.1,1.3)
        margin-bottom 7px
        color #808080
        text-transform uppercase

    h1
        ff(bold,4.8,5,8)
        margin-bottom 30px
    h2
        ff(bold,2.4,2.9)
        margin-bottom 30px
    p
        ff(georgia,2.1,2.5)
        margin-bottom 30px

.pagesContentBig
    h4
        ff(normal,1.1,1.3)
        margin-bottom 10px
        color #808080
        text-transform uppercase
    h1
        ff(bold,5.8,6,8)
        margin-bottom 34px
    h2
        ff(bold,2.8,3.5)
        margin-bottom 34px
    p
        ff(georgia,2.5,2.9)
        margin-bottom 34px