.header
    display block
    width 100%
    background-color blues
    padding 0 20px
.headerWrap
    center(1170px)
    padding 20px 0px
.headerLogo
    display block
    float left
    margin-top 10px
    a
        display inline-block
        width 250px
        height 36px
        svg
            fill #FFF
.headerMenu
    display block
    float right
.headerMenuItem
    display inline-block
    margin-right 10px
    &:last-child
        margin-right 0px