.login
    display block
    position fixed
    top 50%
    left 0
    right 0
    margin 0 auto
    width 600px
    height 400px
    background-color #fff
    z-index 2000
    visibility hidden
    backface-visibility hidden
    transition all .4s
    transform translateY(-200%)
    border-radius 3px
    box-shadow 0px 0px 50px rgba(0,0,0,0.4)
    will-change auto
    padding 47px 58px
    opacity 0

.loginShow
    top 110px
    opacity 1 !important
    visibility visible
    transform translateY(0%)
.loginHeader
    display block
    width 100%
    margin-bottom 33px
    sf()
.loginHeaderText
    col(1/2)
    ff(bold,2.4,2.9)
    color blacks
    vertical-align middle
.loginHeaderRegistration
    col(1/2)
    text-align right
    padding-top 7px
    a

        color blues
        ff(normal,1.5,1.8)
        text-decoration none
        transition all 0.4s
        &:hover
            text-decoration underline
            color darken(blues,40%)

.loginForm
    display block
    sf()
.loginFormItem
    display block
    margin-bottom 30px
    sf()
.loginFormButton
    padding-top 30px
    padding-left 120px
    display block
    sf()
    button
        width 220px

.rememberBlock
    display none
    overflow hidden

.loginBlock
    overflow hidden