.textSize
    display block
    sf()
.textSizeItem
    display block
    float left
    size(40)
    color blues
    border 1px solid blues
    border-radius 50%
    text-align center
    text-transform uppercase
    margin-right 10px
    cursor pointer
    &:last-child
        margin-right 0px
    span
        display block
        margin-top -1px
        margin-left 1px
        transition all 0.5s
    &:hover
        span
            transform scale(1.2)
.textSizeItemActive
    color #fff
    background-color blues
.textSizeSmall
    @extend .textSizeItem
    ff(normal,1.4,4)
.textSizeMedium
    @extend .textSizeItem
    ff(normal,2.0,4)
.textSizeBig
    @extend .textSizeItem
    ff(normal,2.6,4)