.input
    display inline-block
    width 360px
    height 50px
    padding 10px
    ff(medium,2.0,2.0)
    color blacks
    border 1px solid lightgreys
    border-radius 4px
    &:active, &:focus
        outline 0
.inputSmall
    width 210px !important
input.error
    border 1px solid yellows
label.error
    position absolute
    top -30px
    color yellows
    background-color #fff
    width 360px
    height 20px
    padding-top 10px
    ff(normal,1.5,1.8)
    left 0
.inputPlaceLink
    display inline-block
    width 360px
    position relative
    a
        display block
        position absolute
        top 17px
        right 10px
        color blues
        ff(normal,1.5,1.8)
        text-decoration none
        transition all 0.4s
        &:hover
            text-decoration underline
            color darken(blues,40%)

.inputPlaceIcon
    display inline-block
    width 360px
    position relative
    .inputIconLoad
        display block
        visible hidden
        opacity 0
        position absolute
        top 16px
        right 10px
        img
            width 18px
            height 18px
    .inputIconLoadShow
        visible hidden
        opacity 1
    .inputIconComplete
        display block
        visible hidden
        opacity 0
        fill blues
        position absolute
        top 17px
        right 10px
        svg
            width 16px
            height 16px
    .inputIconCompleteShow
        visible hidden
        opacity 1
.inputPlaceIconSmall
    width 210px
.inputTooltip
    display block
    margin-top 3px
    margin-bottom -16px
    ff(normal,1.3,1.6)
    padding-left 140px
    color greys
.inputRightTooltip
    display inline-block
    vertical-align middle
    ff(normal,1.3,1.8)
    color greys
    margin-top -6px
    padding 0px 0px 0px 10px
    width 140px
    sf()