.footer
    display block
    background-color backgroundgreys
    sf()
.footerWrap
    center(900px)
    padding 45px 0px
.footerMenu
    display block
    margin-bottom 50px
    a
        display inline-block
        text-decoration none
        ff(medium,1.6,1.9)
        color blacks
        margin-right 30px
        margin-bottom 10px
        transition color 0.4s
        &:last-child
            margin-right 0
        &:hover
            color blues

.footerCopyright
    col(1/3)
    ff(normal,1.4,2)
    color greys
.footerPhone
    col(1/3)
    color greys
    ff(normal,1.4,2)
    b
        display block
        color blacks
        ff(light_f,2.4,2.9)
        margin-bottom 10px

.footerFeedback
    col(1/3)